append head
    link(href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet")
    link(href="stylesheets/link.css" rel="stylesheet")
include adminPage
.mt-5(class='md:mt-4 md:col-span-2 md:mx-48')
      form(action='/updateUser' method='POST')
        .shadow.overflow-hidden(class='sm:rounded-md')
          .px-4.py-5.bg-white(class='sm:p-6')
            h1(class="mb-6 font-semibold text-lg") Edito studentin
            .grid.grid-cols-6.gap-6
              .col-span-6(class='sm:col-span-3')
                label.block.text-sm.font-medium.text-gray-700(for='idS') ID
                input#idS.mt-1.block.w-full.shadow-sm.border-gray-300.rounded-md(type='text' name='idS' autocomplete='idS' class='focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm')
              .col-span-6(class='sm:col-span-3')
                label.block.text-sm.font-medium.text-gray-700(for='name') Emri dhe mbiemri
                input#name.mt-1.block.w-full.shadow-sm.border-gray-300.rounded-md(type='text' name='name' autocomplete='family-name' class='focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm')
              .col-span-6(class='sm:col-span-3')
                label.block.text-sm.font-medium.text-gray-700(for='prindi') Emri i prindit
                input#prindi.mt-1.block.w-full.shadow-sm.border-gray-300.rounded-md(type='text' name='prindi' autocomplete='email' class='focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm')
              .col-span-6(class='sm:col-span-3')
                label.block.text-sm.font-medium.text-gray-700(for='data') Data e lindjes
                input#data.mt-1.block.w-full.shadow-sm.border-gray-300.rounded-md(type='date' name='data' autocomplete='street-address' class='focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm')
              .col-span-6(class='sm:col-span-6 lg:col-span-2')
                label.block.text-sm.font-medium.text-gray-700(for='vendi') Vendi i lindjes
                input#vendi.mt-1.block.w-full.shadow-sm.border-gray-300.rounded-md(type='text' name='vendi' class='focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm')
              .col-span-6(class='sm:col-span-3 lg:col-span-2')
                label.block.text-sm.font-medium.text-gray-700(for='adresa') Adresa
                input#adresa.mt-1.block.w-full.shadow-sm.border-gray-300.rounded-md(type='text' name='adresa' class='focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm')
              .col-span-6(class='sm:col-span-3 lg:col-span-2')
                label.block.text-sm.font-medium.text-gray-700(for='numri') Numri i telefonit
                input#numri.mt-1.block.w-full.shadow-sm.border-gray-300.rounded-md(type='text' name='numri' autocomplete='numri' class='focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm')
              .col-span-6(class='sm:col-span-3 lg:col-span-2')
                label.block.text-sm.font-medium.text-gray-700(for='gjinia') Gjinia
                input#gjinia.mt-1.block.w-full.shadow-sm.border-gray-300.rounded-md(type='text' name='gjinia' autocomplete='gjinia' class='focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm')
              .col-span-6(class='sm:col-span-3 lg:col-span-2')
                label.block.text-sm.font-medium.text-gray-700(for='email') Email
                input#email.mt-1.block.w-full.shadow-sm.border-gray-300.rounded-md(type='email' name='email' autocomplete='email' class='focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm')
              .col-span-6(class='sm:col-span-3 lg:col-span-2')
                label.block.text-sm.font-medium.text-gray-700(for='password') Password
                input#password.mt-1.block.w-full.shadow-sm.border-gray-300.rounded-md(type='password' name='password' autocomplete='password' class='focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm')
          .px-4.py-3.bg-white.text-right(class='sm:px-6')
            button.inline-flex.justify-center.py-2.px-4.border.border-transparent.shadow-sm.text-sm.font-medium.rounded-md.text-white.bg-indigo-600(type='submit' class='hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500')
              | Save
