.mx-auto.absolute.top-0.w-full.h-screen.flex.items-center.shadow-lg.overflow-y-auto(style='background-color:rgba(0,0,0,.5)' x-show='isOpen')
    .container.rounded.p-4.mt-2.flex.justify-center.overflow-y-auto
        .bg-white.rounded.h-60.px-8.py-8
            button(onclick="getItems()" class="ml-32 bg-blue-500 text-white p-2 rounded-lg") Shiko ngjarjet e regjistruara
            table
                tr
                    th(class="pr-24") Title
                    th(class="pr-24") Data 
                    th(class="pr-24") Theme
                tbody(id="todos")
            div(id='editForm' class="mt-4")
                h3(class='text-base font-semibold py-4') Edito Ngjarjen
                form(action='javascript:void(0);' onsubmit='updateItem()')
                    .grid.grid-cols-6.gap-6
                        input(type='hidden' id='edit-id')
                        .col-span-6(class='sm:col-span-6')  
                            input(type='text' id='edit-title' class="border border-gray-700 rounded-md" readonly)
                        .col-span-6(class='sm:col-span-6')
                            input(type='text' id='edit-date' class="border border-gray-700 rounded-md" readonly)
                        .col-span-6(class='sm:col-span-6')
                            input(type='text' id='edit-theme' class="border border-gray-700 rounded-md" readonly)
                        .col-span-6(class='sm:col-span-3')
                            input(type='submit' id="btnSubmit" value='Save' class="py-2 px-4 rounded-lg" disabled)
                        .col-span-6(class='sm:col-span-3')
                            a(@click='isOpen = false' x-ref='modalCloseButton')
                                button.w-32.rounded-md.text-sm.p-3.mr-4(class='bg-gray-300' type="reset") Cancel