script(src='https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js' defer='')
script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript")
script(src="javascripts/userController.js" asp-append-version="true")
.mx-auto.absolute.top-0.left-0.w-full.h-full.flex.items-center.shadow-lg.overflow-y-auto(style='background-color:rgba(0,0,0,.5)' x-show='isOpen')
  .bg-white.rounded.h-60.px-8.py-8
      p.font-black.text-lg.mb-3 Shto student
      hr
      span.alert #{message}
      form(action='/createUser' method='post')
        .modal-body.mb-5.mt-3.grid.grid-cols-6.gap-4
            label(for='id') ID
            input(type='text' class="bg-white border border-gray-300 px-2 focus:outline-none focus:ring-0 shadow-sm relative ml-4 mr-4 bottom-8 focus:outline-none rounded-lg w-60 h-8" id='idS' name='idS' value=""  required)
            label(for='name') Emri dhe mbiemri
            input(type='text' class="bg-white border border-gray-300 px-2 focus:outline-none focus:ring-0 shadow-sm relative ml-4 mr-4 bottom-8 focus:outline-none rounded-lg w-60 h-8" id='name' maxlength="255" minlength="2" name='name' value="" required)
            label(for='prindi') Emri i prindit
            input(type='text' class="bg-white border border-gray-300 px-2 focus:outline-none focus:ring-0 shadow-sm relative ml-4 mr-4 bottom-8 focus:outline-none rounded-lg w-60 h-8" id='prindi' maxlength="255" minlength="2" name='prindi' value="" required)
            label(for='data') Data e lindjes
            input(type='date' class="bg-white border border-gray-300 px-2 focus:outline-none focus:ring-0 shadow-sm relative ml-4 mr-4 bottom-8 focus:outline-none rounded-lg w-60 h-8" id='data' name='data' value="" required)
            label(for='vendi') Vendi i lindjes
            input(type='text' class="bg-white border border-gray-300 px-2 focus:outline-none focus:ring-0 shadow-sm relative ml-4 mr-4 bottom-8 focus:outline-none rounded-lg w-60 h-8" id='vendi' maxlength="255" minlength="4" name='vendi' value="" required)
            label(for='adresa') Adresa
            input(type='text' class="bg-white border border-gray-300 px-2 focus:outline-none focus:ring-0 shadow-sm relative ml-4 mr-4 bottom-8 focus:outline-none rounded-lg w-60 h-8" id='adresa' maxlength="255" minlength="4" name='adresa' value="" required)
            label(for='numri') Numri i telefonit
            input(type='text' class="bg-white border border-gray-300 px-2 focus:outline-none focus:ring-0 shadow-sm relative ml-4 mr-4 bottom-8 focus:outline-none rounded-lg w-60 h-8" id='numri' name='numri' pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$" value="" required)
            label(for='gjinia') Gjinia
            input(type='text' class="bg-white border border-gray-300 px-2 focus:outline-none focus:ring-0 shadow-sm relative ml-4 mr-4 bottom-8 focus:outline-none rounded-lg w-60 h-8" id='gjinia' name='gjinia' pattern="^(M|F)$" value="" required)
            label(for='email') Email
            input(type='email' class="bg-white border border-gray-300 px-2 focus:outline-none focus:ring-0 shadow-sm relative ml-4 bottom-8 focus:outline-none rounded-lg w-60 h-8" id='email' name='email' pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" value="" required)
            label(for='role') Roli 
            select(name = 'isprofessor' id='isprofessor' class="border rounded-md")
              option Choose Options...
              option(value='0') Student 
              option(value='1') Profesor 
              option(value='2') Admin
            label(for='password') Fjalekalimi
            input(type='password' class="bg-white border border-gray-300 px-2 focus:outline-none focus:ring-0 shadow-sm relative ml-4 bottom-8 focus:outline-none rounded-lg w-60 h-8" id='password' name='password' minlength="6" value="" required)
        .my-5.items-center
          a(@click='isOpen = false' x-ref='modalCloseButton')
            button.w-32.rounded-md.text-sm.p-3.mr-4(class='hover:bg-gray-100' type="reset") Cancel
          button.w-32.bg-black.rounded-md.text-white.text-sm.p-3(type="submit") Save
