extends layout.pug
block content
    .header
        img(src="/images/1.jpg", alt="image")
        .title
            h1 Welcome to #{title}
            p HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH
    h1.cardsTitle HHHHH
    .cards
        .card
            img(src="/images/3.jpg", alt="image")
            h1 OUR TEAM
            p HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH
        .card
            img(src="/images/3.jpg", alt="image")
            h1 OUR TEAM 
            p HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH
        .card
            img(src="/images/3.jpg", alt="image")
            h1 OUR TEAM
            p HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH
