extends layout.pug
block content
    .header
        img(src="/images/1.jpg", alt="image")
        .title
            h1 #{title}
            p Informohu - Bashkëpuno - Komuniko
    h1.cardsTitle Duke u përpjekur për përsosmëri
    .cards
        .card
            img(src="/images/ph1.jpg", alt="image")
            h1 PËRFORMANCA
            p  Vlerësimi i përformancës gjatë ores mesimore dhe krijimi i raportit dhe llogaridhënies.
        .card
            img(src="/images/ph2.jpg", alt="image")
            h1 SHËRBIMET TONA
            p  Komunikim është efektiv ndërmjet profesoreve–nxënësve dhe ndërtim i marrëdhënieve korrekte mes tyre.
        .card
            img(src="/images/ph3.jpg", alt="image")
            h1 PËRSHTYPJET
            p  Menaxhimi i gjithëmbarshëm i shkollës.Marrjen e përshtypjeve të nxënësve dhe berja e pytjeve.
