doctype html
html
  head
    block head
      title= title
      link(rel='icon' href='/images/high-school.png')
      link(rel='stylesheet' type='text/css' href='/stylesheets/general.css')
  body
    block content
