<!DOCTYPE html>
html(lang="en")
    head
        title 00008699
        link(rel="stylesheet" href="/stylesheets/index-style.css")
        link(rel="stylesheet" href="/stylesheets/students.css")
        link(rel="stylesheet" href="/stylesheets/map.css")
        link(rel="stylesheet" href="/stylesheets/footercss.css")
         
    body
        nav
            ul
                li
                    a(href="/") Home
                li
                    a(href="/loginSt") Login
                li 
                    a(href="/map") Harta
        block content
.footer-basic
  footer
    .social
      a(href='https://www.facebook.com/')
        img(src="/images/pho1.png", alt="image")
      a(href='https://twitter.com/')
        img(src="/images/pho2.jpg", alt="image")
      a(href='https://www.snapchat.com/')
       img(src="/images/pho3.png", alt="image")
      a(href='https://www.instagram.com/')
        img(src="/images/pho.png", alt="image")
    p.copyright E - SHKOLLA &copy; 2021
