
append head
    link(rel='stylesheet' type='text/css' href='/stylesheets/login.css')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.13.0/css/all.css')
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' crossorigin='anonymous')

block content
    .login-form
        img.student-img(src='/images/student.jpg' alt='')
        .form-title E-Shkolla
        span.alert #{message}
        form(action='/loginSt' method='POST')
            .form-group
                span.title ID e studentit
                .input-group
                    .input-group-prepend
                    input#UserName.form-control(name="idS" type='text' placeholder='Shenoni ID' required='')
            .form-group.log-status
                span.title Fjal&euml;kalimi
                .input-group
                    .input-group-prepend
                    input#Password.form-control(name="password" type='password' placeholder='Shenoni fjalekalimin' required='')
            button.log-btn(type='Submit') Identifikohu
            a.link(href='/admin-index') Keni harruar fjal&euml;kalimin?
