append head
    
    link(href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet")
    link(href="stylesheets/link.css" rel="stylesheet")
    script(src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js" defer)

body.bg-gray-300.text-gray-800
    header.border-t-4.border-blue-600.bg-white.shadow-md
        nav.container.mx-auto.px-4.flex.items-center.justify-between.py-4(x-data="{ isOpen: false }")
            div.flex
                button(@click="isOpen = true")
                    svg(fill="currentColor" viewBox="0 0 24 24" width="24" height="24")
                        path(fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 7h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0")
            div.flex.flex-row 
                div.mr-4
                    svg(xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor")
                        path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9")
                div.relative(x-data='{ isOpen: false }')
                    button.flex.items-center(@click='isOpen = !isOpen' @keydown.escape='isOpen = false')
                        svg(xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor")
                            path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                    ul.absolute.font-normal.bg-white.shadow.overflow-hidden.rounded.w-48.border.mt-2.py-1.right-0.z-20(x-show='isOpen' @click.away='isOpen = false' x-transition:enter='transition ease-out duration-500' x-transition:enter-start='opacity-0 transform scale-90' x-transition:enter-end='opacity-100 transform scale-100' x-transition:leave='transition ease-in duration-300' x-transition:leave-start='opacity-100 transform scale-100' x-transition:leave-end='opacity-0 transform scale-90')
                        li
                        a.flex.items-center.px-3.py-3(href='/student-profile' class='hover:bg-gray-200')
                            img(src='https://img.icons8.com/ios/30/000000/guest-male.png')
                            span.ml-2 Profili im 
                        li
                        a.flex.items-center.px-3.py-3(href='/logout' class='hover:bg-gray-200')
                            img(src='https://img.icons8.com/metro/25/000000/logout-rounded-left.png')
                            span.ml-2 Logout

            div.absolute.top-0.left-0.bg-white.border.border-right.h-full.w-48(x-show="isOpen" @click.away="isOpen = false" x-transition:enter='transition ease-out duration-500 -ml-64' x-transition:enter-start='' x-transition:enter-end='transform translate-x-64' x-transition:leave='transition ease-out duration-500' x-transition:leave-start='' x-transition:leave-end='transform -translate-x-64')
                div.flex.justify-end
                    button.text-2xl.mr-3.mt-1(@click="isOpen = false") &times;
                ul
                    li
                        a(href="#" class='hover:bg-gray-200').flex.items-center.px-3.py-3
                            img(src="https://img.icons8.com/nolan/25/school.png")
                            p.ml-3 Lendet 
                    li
                        a(href="#" class='hover:bg-gray-200').flex.items-center.px-3.py-3
                            img(src="https://img.icons8.com/nolan/25/test-passed.png")
                            p.ml-3 Lista e provimeve 
                    li
                        a(href="#" class='hover:bg-gray-200').flex.items-center.px-3.py-3
                            img(src="https://img.icons8.com/nolan/25/report-card.png")
                            p.ml-3 Notat 
                    li
                        a(href="/st-ngjarjet" class='hover:bg-gray-200').flex.items-center.px-3.py-3
                            img(src="https://img.icons8.com/nolan/25/tear-off-calendar.png")
                            p.ml-3 Ngjarjet / njoftimet  
    div.absolute.bottom-0.right-0.w-auto.h-15.ml-50
        div.justify-end.flex
            a(href="/chat")
                button.m-5
                    img(src="https://img.icons8.com/flat-round/55/000000/chat.png")
        
        
