include faqjakryesore
link(rel='stylesheet' href='https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css')
script(src='https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js' defer='')
script(src='javascripts/eventController.js' asp-append-version='true')
.bg-white
  div(x-data='{ isOpen: false }')
    p.text-2xl.font-semibold.text-center Lendet
    .px-10.justify-end.flex
      button.bg-blue-600.text-white.rounded.p-2.mr-20(@click='isOpen = true') Kerkesa per kartele
    .overflow-x-auto.ml-40
      .flex.items-center.justify-center.font-sans.overflow-hidden
        .w-full(class='lg:w-5/6')
          .bg-white.shadow-md.rounded.my-6
            table.min-w-max.w-full.table-auto
              thead.bg-gray-200
                tr.bg-gray-200.text-gray-600.uppercase.text-sm.leading-normal
                th.py-3.px-6.text-left ID
                th.py-3.px-6.text-left Emri i lendes
                th.py-3.px-6.text-left Emri i profesorit
                th.py-3.px-6.text-left Nota e vleresimit
                //- th.py-3.px-6.text-left Pranimi
              each val, i in students
                tbody.text-gray-600.text-sm.font-light
                  tr.border-b.border-gray-200(class='hover:bg-gray-100')
                    td.py-3.px-6.text-left
                      .flex.items-center
                        .mr-2
                          span.font-medium #{val.id}
                    td.py-3.px-6.text-left
                      .flex.items-center
                        .mr-2
                          span.font-medium #{val.emri}
                    td.py-3.px-6.text-left
                      .flex.items-center
                        .mr-2
                          span.font-medium #{val.name}
                    td.py-3.px-6.text-left
                      .flex.items-center
                        .mr-2
                          span.font-medium 4
                    //- td.pt-4.px-6.text-center
                    //-   .flex.flex-row
                    //-     form(method='get' action='#')
                    //-       input(name='id' type='hidden' value='')
                    //-       input#edit.bg-green-500.rounded-md.px-4.py-2.mr-4.text-white(value='Prano' type='submit' @click='isOpenModal = true')
                    //-     form(method='post' action='#')
                    //-       input(name='id' type='hidden' value='')
                    //-       input#delete.bg-red-500.rounded-md.px-4.py-2.text-white(value='Refuzo' type='submit')
  script.
    function median(values){
    values.sort(function(a,b){
    return a-b;
    });
    var half = Math.floor(values.length / 2);
    if (values.length % 2)
    return values[half];
    else
    return (values[half - 1] + values[half]) / 2.0;
    }
  script(type='text/javascript').
    window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer",
    {
    title:{
    text: "Grafiku i notave"
    },
    legend: {
    maxWidth: 450,
    itemWidth: 120
    },
    data: [
    {
    type: "pie",
    showInLegend: true,
    legendText: "{indexLabel}",
    dataPoints: [
    { y: 4, indexLabel: "5" },
    { y: 2, indexLabel: "4" },
    { y: 3, indexLabel: "3" },
    { y: 5, indexLabel: "2"},
    { y: 1, indexLabel: "1" }
    ]
    }
    ]
    });
    chart.render();
    }
  script(type='text/javascript' src='https://canvasjs.com/assets/script/canvasjs.min.js')
  #chartContainer(style='height: 400px; width: 100%;')