include faqjakryesore

div.bg-white
    div()
        p.text-2xl.font-semibold.text-center Ngjarjet
        .overflow-x-auto.ml-20
            .flex.items-center.justify-center.font-sans.overflow-hidden
                .w-full(class='lg:w-5/6')
                    .bg-white.shadow-md.rounded.my-6
                        table.min-w-max.w-full.table-auto
                            thead.bg-gray-200
                                tr.bg-gray-200.text-gray-600.uppercase.text-sm.leading-normal
                                th.py-3.px-6.text-left ID
                                th.py-3.px-6.text-left Emri 
                                th.py-3.px-6.text-center Adresa
                                th.py-3.px-6.text-center Data
                                th.py-3.px-6.text-center Koha    
                               
                            tbody.text-gray-600.text-sm.font-light
                                    tr.border-b.border-gray-200(class='hover:bg-gray-100')
                                        td.py-3.px-6.text-left.whitespace-nowrap
                                            .flex.items-center
                                                .mr-2
                                                    span.font-medium Test
                                        td.py-3.px-6.text-left
                                            .flex.items-center
                                                .mr-2   
                                                    span.font-medium Test
                                        td.py-3.px-6.text-center
                                                span.font-medium Test
                                        td.py-3.px-6.text-center
                                                span.font-medium Test
                                        td.py-3.px-6.text-center
                                                span.font-medium #{message}
