<!DOCTYPE html>
html(lang="en")
    head
        title 00008699
        link(rel="stylesheet", href="/stylesheets/index-style.css")
    body
        nav
            ul
                li
                    a(href="/") Home
                li
                    a(href="/about") About
        block content
