append head
    
    link(href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet")
    link(href="stylesheets/link.css" rel="stylesheet")
    script(src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js" defer)

body.bg-gray-300.text-gray-800
    header.border-t-4.border-blue-600.bg-white.shadow-md
        nav.container.mx-auto.px-4.flex.items-center.justify-between.py-4.z-40(x-data="{ isOpen: true }")
            div.flex
                button(@click="isOpen = true")
                    svg(fill="currentColor" viewBox="0 0 24 24" width="24" height="24")
                        path(fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 7h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0")
            div.relative(x-data='{ isOpen: false }')
                button.flex.items-center(@click='isOpen = !isOpen' @keydown.escape='isOpen = false')
                    img(src='https://img.icons8.com/carbon-copy/30/000000/test-account.png')
                ul.absolute.font-normal.bg-white.shadow.overflow-hidden.rounded.w-48.border.mt-2.py-1.right-0.z-20(x-show='isOpen' @click.away='isOpen = false' x-transition:enter='transition ease-out duration-500' x-transition:enter-start='opacity-0 transform scale-90' x-transition:enter-end='opacity-100 transform scale-100' x-transition:leave='transition ease-in duration-300' x-transition:leave-start='opacity-100 transform scale-100' x-transition:leave-end='opacity-0 transform scale-90')
                    li
                    a.flex.items-center.px-3.py-3(href='/logout' class='hover:bg-gray-200')
                        img(src='https://img.icons8.com/metro/25/000000/logout-rounded-left.png')
                        span.ml-2 Logout      
            div.absolute.top-0.left-0.bg-white.border.border-right.h-full.w-48.hiddenf(x-show="isOpen")
                div.flex.justify-end
                    button.text-2xl.mr-3.mt-1(@click="isOpen = false") &times;
                ul
                    li
                        a(href="/notat").flex.items-center.px-3.py-3
                            img(src="https://img.icons8.com/nolan/25/report-card.png")
                            p.ml-3 Notat
                    li
                        a(href="/profesor/literatura").flex.items-center.px-3.py-3 
                            img(src="https://img.icons8.com/carbon-copy/25/000000/calendar--v2.png")
                            p.ml-3 Shto literature
    div.absolute.bottom-0.right-0.w-auto.h-15.ml-50
        div.justify-end.flex
            a(href="/chat")
                button.m-5
                    img(src="https://img.icons8.com/flat-round/55/000000/chat.png")
            
