include adminPage
link(rel='stylesheet' href='https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css')
script(src='https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js' defer='')
script(src='javascripts/eventController.js' asp-append-version='true')
script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript")
script(src="javascripts/lendetController.js" asp-append-version="true")
script.
     $(document).ready(function () {  
            $.getJSON('http://localhost:8080/students')  
            .done(function (data) {  
                $.each(data, function (key, item) {  
                    $('#students').append(
                        "<tr class='border-b border-gray-200'>"+
                            "<td class='py-3 px-6 text-left whitespace-nowrap'>"+
                            "<div class='flex items-center'>"+
                            "<div class='mr-2'>"+"<span class='font-medium'>"
                               
                        + item.ids +"</span></div></div></td>"+
                        "<td class='py-3 px-6 text-left whitespace-nowrap'>"+
                            "<div class='flex items-center'>"+
                            "<div class='mr-2'>"+"<span class='font-medium'>"
                        + item.name +"</span></div></div></td>"+

                        "<td class='py-3 px-6 text-left whitespace-nowrap'>"+
                            "<form action='javascript:void(0);' method='POST' onsubmit='addNota()'>"+

                            "<div class='flex items-center'>"+
                            "<div class='mr-2'>"+"<select id='nota'>"+
                            "<option value='1'>1</option><option value='2'>2</option>"+
                            "<option value='3'>3</option><option value='4'>4</option><option value='5'>5</option>"+
                            
                            "</select>"+
                            "<input id='mm' type='submit' class='bg-green-500 p-2'>"+
                            "</div></div></form></td>"+
                        "</tr>")
                });  
            });  
        });
.bg-white
  div(x-data='{ isOpen: false }')
    p.text-2xl.font-semibold.text-center Vleresimi
    .overflow-x-auto.ml-40
      .flex.items-center.justify-center.font-sans.overflow-hidden
        .w-full(class='lg:w-5/6')
          .bg-white.shadow-md.rounded.my-6
            table.min-w-max.w-full.table-auto
              thead.bg-gray-200
                tr.bg-gray-200.text-gray-600.uppercase.text-sm.leading-normal
                th.py-3.px-6.text-left Student ID
                th.py-3.px-6.text-left Emri i nxenesit
                th.py-3.px-6.text-left Nota
              tbody.text-gray-600.text-sm.font-light#students
      //- .flex.flex-row.justify-end.mr-20
      //-   form(method='get' action='#')
      //-     input(name='id' type='hidden' value='')
      //-     input#edit.bg-green-500.rounded-md.px-4.py-2.mr-4.text-white.content-end(value='Ruaj Ndryshimet' type='submit' @click='isOpenModal = true')
  script.
    function median(values){
    values.sort(function(a,b){
    return a-b;
    });
    var half = Math.floor(values.length / 2);
    if (values.length % 2)
    return values[half];
    else
    return (values[half - 1] + values[half]) / 2.0;
    }
  script(type='text/javascript').
    window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer",
    {
    title:{
    text: "Mesatarja e notimit te nxenesve"
    },
    legend: {
    maxWidth: 450,
    itemWidth: 120
    },
    data: [
    {
    type: "pie",
    showInLegend: true,
    legendText: "{indexLabel}",
    dataPoints: [
    { y: 4, indexLabel: "5" },
    { y: 2, indexLabel: "4" },
    { y: 3, indexLabel: "3" },
    { y: 5, indexLabel: "2"},
    { y: 1, indexLabel: "1" }
    ]
    }
    ]
    });
    chart.render();
    }
  script(type='text/javascript' src='https://canvasjs.com/assets/script/canvasjs.min.js')
  #chartContainer(style='height: 400px; width: 100%;')