include adminPage
link(rel='stylesheet' href='https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css')
script(src='https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js' defer='')
script(src='/javascripts/literatureController.js' asp-append-version='true')
script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript")
.bg-white
  div(x-data='{ isOpen: false }')
    .overflow-x-auto.ml-40
      .flex.items-center.justify-center.font-sans.overflow-hidden
        .w-full(class='lg:w-5/6')
          .bg-white.shadow-md.rounded.my-6
            style.
              .-z-1 {
              z-index: -1;
              }
              .origin-0 {
              transform-origin: 0%;
              }
              input:focus ~ label,
              input:not(:placeholder-shown) ~ label,
              textarea:focus ~ label,
              textarea:not(:placeholder-shown) ~ label,
              select:focus ~ label,
              select:not([value='']):valid ~ label {
              --tw-translate-x: 0;
              --tw-translate-y: 0;
              --tw-rotate: 0;
              --tw-skew-x: 0;
              --tw-skew-y: 0;
              transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate))
              skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
              --tw-scale-x: 0.75;
              --tw-scale-y: 0.75;
              --tw-translate-y: -1.5rem;
              }
              input:focus ~ label,
              select:focus ~ label {
              /* @apply text-black; left-0; */
              --tw-text-opacity: 1;
              color: rgba(0, 0, 0, var(--tw-text-opacity));
              left: 0px;
              }
            .min-h-screen.bg-gray-100.p-0(class='sm:p-8')
              .mx-auto.max-w-md.px-6.py-12.bg-white.border-0.shadow-lg(class='sm:rounded-3xl')
                form(action='javascript:void(0);' onsubmit=`addLiterature('${user.id}')` enctype='multipart/form-data')
                  .relative.z-0.w-full.mb-5
                    label Emri
                    input.pt-3.pb-2.block.w-full.px-0.mt-0.bg-transparent.border-0.border-b-2.appearance-none.border-gray-200(type='text' value='' name='name' id="name" placeholder='Sheno emrin e librit' required='' class='focus:outline-none focus:ring-0 focus:border-black')
                    span#error.text-sm.text-red-600.hidden Name is required
                  .relative.z-0.w-full.mb-5
                    label Autori
                    input.pt-3.pb-2.block.w-full.px-0.mt-0.bg-transparent.border-0.border-b-2.appearance-none.border-gray-200(type='text' value='' name='author' id="author" placeholder='Sheno autorin' class='focus:outline-none focus:ring-0 focus:border-black')
                    span#error.text-sm.text-red-600.hidden Email address is required
                  .relative.z-0.w-full.mt-5
                    .mt-1
                      label Pershkrimi
                      textarea.pt-5.pb-2.shadow-sm.mt-1.block.w-full.border-gray-300.rounded-md(name='description' id="description" rows='3' class='focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm' placeholder='Shkruaj pershkrimin')
                  .relative.z-0.w-full.mt-5
                    .mt-1
                      label Ngarko file
                      input.pt-5.pb-2.shadow-sm.mt-1.block.w-full.border-gray-300.rounded-md(name='file' id="file" rows='3' class='focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm' type='file')
                  button#button.w-full.px-6.py-3.mt-10.text-lg.text-white.transition-all.duration-150.ease-linear.rounded-lg.shadow.outline-none.bg-blue-600(type='submit' class='hover:bg-blue-700 hover:shadow-lg focus:outline-none')
                    | Shto literature
